$image-width:230px
$image-heigh:330px
$card-radius:30px

@mixin cover()
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
.card
    width: ($image-width / 1)
    height: ($image-heigh / 1.8)

    border: solid black
    border-radius: $card-radius
   

anime-card
    height: 100%
    width: 100%
    border-radius: $card-radius
    @include cover()

