@use 'card'
.card-container
    display: grid
    grid-template-columns: repeat(3, auto )
    grid-template-rows: repeat(3, auto)
    justify-items: center
    align-content: center
    grid-row-gap: 0.8vw
    grid-column-gap: 5vw
    grid-area: main
    position: relative
    top:1.5vh
.intro
    display: flex
    flex-direction: columns
    justify-content: center
    align-content: center
    justify-self: stretch
.empty
    grid-area: empty
.nav
    grid-area: nav
card-form
    grid-area: side-form
.core
    display: grid
    grid-template-columns: 20vw auto 20vw
    grid-template-rows: repeat(2, auto)
    grid-template-areas:"nav nav nav""empty main side-form"
    justify-content: space-between
    width: 100vw
    