@use 'card'
.card-container
    display: grid
    grid-template-columns: repeat(3, auto )
    grid-template-rows: repeat(3, auto)
    justify-items: center
    align-content: center
    grid-row-gap: 5px
    grid-column-gap: 50px
.intro
    display: flex
    flex-direction: columns
    justify-content: center
    align-content: center
